<div id="<%= dom_id trade %>">
  <p>
    <strong>Title:</strong>
    <%= trade.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trade.description %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= trade.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= trade.end %>
  </p>

  <p>
    <strong>Early start:</strong>
    <%= trade.early_start %>
  </p>

  <p>
    <strong>Late end:</strong>
    <%= trade.late_end %>
  </p>

  <p>
    <strong>Conviction:</strong>
    <%= trade.conviction %>
  </p>

</div>
